.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DaBabyBox {
  background-color: orange;
  width: 200px;
  height:  185px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 15px;
}

.DaBabyBox img {
  width: 100%;
  height: 60%;
  padding-bottom: 15%;
}
